body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
#object_detection
{
    width:100%;
    margin-top: 0px;
    font-size: 25px;
}
#status
{
    font-size: 20px;
}
canvas{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 110px;
}
button{
    margin-top: 10px;
}